<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mon projet</title>
</head>
<body>

{% block content %}

{% endblock %}
<script src="../node_modules/jquery/dist/jquery.js"></script>
<script src="../Assets/script.js"></script>
</body>
</html>